
.slick-slide{
	padding:0 15px!important;
}
.actionLink{font-size: 12px; text-decoration: none; font-weight: 600; color: #222222; cursor: pointer; text-align: center; width: 100%;     display: block;
    padding: 15px 0;}
    .dashBoardRow, .dashBoardRow .row{
    	width: auto !important; 
    }
    .unlikeIcon{transform: rotate(180deg);     transform-origin: left center;
    position: relative;
    top: -10px;
    left: 45px;}